<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン</title>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<!-- import js.file CDN↓ -->
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js}"></script>
	<!-- import ResetCss & CDN & Local　↓ -->
	<link th:href="@{../css/resetcss.css}" rel="stylesheet" type="text/css">
	<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form th:action="@{/Admin}" method="post">
<input type="submit" name="date" value="勤務表管理画面へ">
<input type="submit" name="user" value="利用者管理画面へ">
</form>

</body>
</html>