<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>勤務表入力画面</title>

	<!-- import ResetCss & CDN & Local　↓ -->
	<link th:href="@{/css/resetcss.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
	<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.css}" rel="stylesheet" type="text/css">
</head>
<body th:with="user=${#authentication.principal.user}">
<header>
	<div class="debug1">
		<nav class="nav-baner">
			<div id="Admin_nav">
				<span th:text = "|ようこそ${Luser.lastname}さん|">〇〇さんようこそ</span>
				<span class="nav-welcome"  sec:authorize="${hasRole('ADMIN')}">あなたは管理者です</span>
				<button th:onclick="'location.href=\''+@{/Admin/(today=${TODAY_NOW})} + '\''" sec:authorize="${hasRole('ADMIN')}">管理画面へ</button>
				<form th:action="@{/logout}" method="post" class="logout-form">
					<button>ログアウト</button>
				</form>
			</div>
			<h1>勤務表</h1>
			<input type="hidden" form="form1" th:value="${Luser.userid}" name="workersId">
		</nav>
	</div>
</header>

<main>
	<div class="debug2">
	<!-- 予定一覧 -->
		<div class="todays_plan">
			<!-- 今日の予定一覧 -->
			<ul class="todays_plan_ul" >
				<li class="plans_list"><h3 class="plans_list_main_title plans_list_main_title_today">今日の予定</h3></li>
				<li class="plans_list plans_list_title" th:text="${plan_data[0].title}"></li>
				<li class="plans_list plans_list_plans" th:if="${plan_data[0].plans}">
					<th:block th:each="str, stat : ${plan_data[0].plans.split('\r\n|\r|\n', -1)}">
				        <th:block th:text="${str}"/>
				        <br th:if="${!stat.last}"/>
				    </th:block>
				</li>

				<li class="plans_list plans_list_holiday"  th:if="${plan_data[0].holiday}" th:text="休日です"></li>
			</ul>
			<!-- 次の予定一覧 -->
			<ul class="somedays_plan_ul">
				<li class="plans_list"><h3 class="plans_list_main_title plans_list_main_title_nextday">次([[${#dates.format(plan_data[1].today,'yyyy年MM月dd日')}]])の予定</h3></li>
				<li class="plans_list  plans_list_title"th:text="${plan_data[1].title}"></li>
				<li class="plans_list plans_list_plans" th:if="${plan_data[1].plans}">
					<th:block th:each="str, stat : ${plan_data[1].plans.split('\r\n|\r|\n', -1)}">
				        <th:block th:text="${str}"/>
				        <br th:if="${!stat.last}"/>
				    </th:block>
				</li>
				<li class="plans_list plans_list_holiday" th:if="${plan_data[1].holiday}" th:text="休日です"></li>
			</ul>
		</div>
		<div class="main_datatable">
			<div class="main-text-custom">
				<form th:object="${EntryForm}" th:action="@{/}" method="post" id="form1">
					<!-- 実行時の日付 -->
					<strong>日付：</strong><label th:text="${#temporals.format(today,'yyyy年MM月dd日')}"> </label>
					<input type="hidden" form="form1" th:value="${today}" name="today">
					<a th:href="@{/calendar(todayCarendar=${today})}">カレンダー</a>
					<div class="day-arrow">
						<ul>
							<li class="page_left_arrow">
								<a th:href="@{'/' + ${today.minusDays(1)}}"class="next-arrows">
									&lt;&lt;前日
								</a>
							</li>
							<li	 class="page_numbers">
								<a th:href="@{/}">
									<span class="next-arrows">今日</span>
								</a>
							</li>
							<li class="page_right_arrow">
								<a th:href="@{'/' + ${today.plusDays(1)}}" class="next-arrows">
									次日&gt;&gt;
								</a>
							</li>
						</ul>
					</div>

					<!-- 部署 -->
					<div class="busyo-block">
						<strong>部署：</strong><label th:text="${Luser.rolename}"></label><span id="insert_errors" th:text="${errormsg}" ></span>
					</div>
					<!-- 従業時間 -->
					<p th:text="${errmsg}"></p>
					<div class="worktime-block">
						<strong>従業時間：</strong>
						<select name="startTime">
							<option th:each="oioi:${select_a}" th:value="${oioi.value}" th:text="${oioi.key}" th:selected="${oioi.key == '09:00'}"></option>
						</select>～
						<select name="endTime">
							<option th:each="oioi:${select_a}" th:value="${oioi.value}" th:text="${oioi.key}" th:selected="${oioi.key == '18:00'}"></option>
						</select>
						<input type="submit" value="登録" class="submit-button" name="insert">
						<span th:text="${sum_time}"></span>
					</div>
				</form>
			</div>
<!-- ******************************************************************* -->
		<div >
			<ul>
				<li class="page_left_arrow">
					<a th:href="@{'/' + ${today.minusMonths(1)}}"class="next-arrows">
						&lt;&lt;先月
					</a>
				</li>
				<li	 class="page_numbers">
					<a th:href="@{/}">
						<span class="next-arrows">今月</span>
					</a>
				</li>
				<li class="page_right_arrow">
					<a th:href="@{'/' + ${today.plusMonths(1)}}" class="next-arrows">
						来月&gt;&gt;
					</a>
				</li>
			</ul>
		</div>
<!-- ---------------------------------------------------------------------------------------- -->
		<table class="DateTable">
			<thead class="DateTable-thead">
				<th class="DateTable-Column">日付</th>
				<th class="DateTable-Column">勤務開始時間</th>
				<th class="DateTable-Column">勤務終了時間</th>
			</thead>
			<tbody class="DateTable-tbody">
				<tr th:each="data:${DateTableData}">
					<td th:text="${#dates.format(data.today,'yyyy年MM月dd日')}" class="DateTable-Data"></td>
					<td th:text="${#dates.format(data.startTime,'HH時mm分')}" class="DateTable-Data"></td>
					<td th:text="${#dates.format(data.endTime,'HH時mm分')}" class="DateTable-Data"></td>
				</tr>
			</tbody>

		</table>
		<div >
			<ul>
				<li class="page_left_arrow">
					<a th:href="@{'/' + ${today.minusMonths(1)}}"class="next-arrows">
						&lt;&lt;先月
					</a>
				</li>
				<li	 class="page_numbers">
					<a th:href="@{/}">
						<span class="next-arrows">今月</span>
					</a>
				</li>
				<li class="page_right_arrow">
					<a th:href="@{'/' + ${today.plusMonths(1)}}" class="next-arrows">
						来月&gt;&gt;
					</a>
				</li>
			</ul>
		</div>
		</div>
		<div  class="main-text-custom-right" >
			<div class="download-form">
				<p class="download_topic">
					・勤務表をcsv形式でダウンロードできます<br>
					未入力の場合は既定のファイル名になります
				</p>
				<form th:action="@{/download}" method="post" >
				     <input type="hidden" name="D_today" th:value="${today}">
						<table>
						<tbody>
						<tr>
							<td><label for="filename">ファイル名：</label></td>
							<td><input type="text" name="filename" id="filename" value=""></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="ダウンロード(.csv)" ></td>
						</tr>
						</tbody>
						</table>
					</form>
			</div>
		</div>
	</div>

	</main>

	<footer>
		<div class="debug3">
		</div>
	</footer>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<!-- import js.file CDN↓ -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js}"></script>
<!-- import js.file Local↓ -->

</body>
</html>
