<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登録</title>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<!-- import js.file CDN↓ -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js}"></script>
<!-- import ResetCss & CDN & Local　↓ -->
<link th:href="@{/css/resetcss.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.css}"rel="stylesheet" type="text/css">
</head>
<body>
	<div class="form_custom">
		<h2>新規登録</h2>
		<form th:action="@{/insert}" method="post" th:object="${InsertForm}">
			<table>
				<tr>
					<hr>
					<td id="pwd_error">
						<label id="pwd_lavel" for="userid">従業員ID<span class="requried_msg">(必須)</span>:</label>
						<div class="smart_errors"><span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" class="error_msg"></span></div>
					</td>
				</tr>
				<tr>
					<td><input type="text" class="form_input" id="userid" name="userid" th:value="*{userid}" placeholder="例)ABCD,1234"></td>
				</tr>

				<tr>
					<td id="pwd_error">
						<label id="pwd_lavel" for="password">パスワード<span class="requried_msg">(必須)</span>:</label>
						<div  class="smart_errors"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error_msg"></span></div>
					</td>
				</tr>
				<tr>
					<td><input type="password"  class="form_input" id="password" name="password" th:value="*{password}" ></td>
				</tr>

				<tr>
					<td id="pwd_error">
						<label id="pwd_lavel" for="lastname">苗字<span class="requried_msg">(必須)</span>:</label>
						<div  class="smart_errors"><span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error_msg"></span></div>
					</td>
				</tr>
				<tr>
					<td><input type="text"  class="form_input" id="lastname" name="lastname" th:value="*{lastname}" placeholder="例)山田"></td>
				</tr>

				<tr>
					<td id="pwd_error">
						<label id="pwd_lavel" for="firstname">名前<span class="requried_msg">(必須)</span>:</label>
						<div  class="smart_errors"><span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="error_msg"></span></div>
					</td>
				</tr>
				<tr>
					<td><input type="text"  class="form_input" id="firstname" name="firstname" th:value="*{firstname}"placeholder="例)太郎"></td>
				</tr>

				<tr>
					<td id="pwd_error">
						<span id="pwd_lavel">部署<span class="requried_msg">(必須)</span>：</span>
						<div  class="smart_errors"><span th:if="${#fields.hasErrors('rolename')}" th:errors="*{rolename}"  class="error_msg"></span></div>
					</td>
				</tr>
				<tr>
					<td><input type="radio"  id="system" value="システム部" th:field="*{rolename}">
						<label for="system">システム部</label>
						<input type="radio"  id="design" value="設計部"th:field="*{rolename}">
						<label for="design">設計部</label><br>
						<input type="radio"  id="GUEST" value="GUEST" th:field="*{rolename}">
						<label for="GUEST">GUEST</label>
					</td>
				</tr>
				<tr id="form_go">
					<td>
						<hr>
						<p class="topic">従業員IDは<span class="important">英数字4文字</span><br>パスワードは<span class="important">数字のみ6桁以上20桁未満です</span></p>
						<button  onclick="location.href='/insert'" >クリア</button>
						<input type="submit"  name="go" value="登録">
					</td>
				</tr>
				<tr id="form_go">
					<td><a href="login/loginForm" class="back_link_icon">ログイン画面へ戻る</a></td>
				</tr>
			</table>
		</form>

	</div>
</body>
</html>